body {
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

@media print {
    /* Example of controlling page size & orientation */
    @page {
        size: A4 portrait; /* or "portrait" */
        margin: 0;
    }

    .noPrint {
        display: none !important;
    }
}

:root {
    interpolate-size: allow-keywords;
}