.nav {
    padding: 0;
    border: 0;
}

.navContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.navContent h2 { font-size: 1.25rem; letter-spacing: -.04em; }
